/* Add a black background color to the top navigation */
.topnav {
    background-color: black;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: blue;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: ;
    color: white;
}

body {
  padding-top: 1px;
}


h1 {
      color: yellow;
      text-align: center;
      font-family: "Comic Sans MS", cursive, sans-serif;
      padding: 4cm 3cm 4cm 3cm;
      font-size: 60px;
      background-image:url("../css/nuremberg.jpg");
      background-position: center;
      margin:10px;
      outline: 5px dotted yellow;
}

h2 {
      color: maroon;
      text-align: center;
      font-family: "Comic Sans MS",Cursive, sans-serif;
      font-size: 25px;
}

p {
  color: blue;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

li a {
    display: block;
    width: 60px;
}

#social-buttons button {
color: white;
}
.btn-twitter {
background: #00acee;
border-color: #009ad5;
}
.btn-facebook {
background: #4868ac;
border-color: #314776;
}
.btn-pinterest {
background: #b62f26;
border-color: #b62f26;
}
.btn-subscribe {
background: #f4b404;
border-color: #f4b404;
}
